.layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 150px;
}
.layout-children {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  box-sizing: border-box;
}
