.sign-in-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.sign-in-form > input {
  border-radius: 3px;
  outline: none;
  border: 3px solid #00a8e8;
  /* width: 30vw; */
}

.sign-in-form > label {
  color: white;
}

.sign-in-form > button {
  margin: 10px;
  width: 50px;
}
