.sign-in-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(244, 187, 68);
  margin-top: 50px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: -7px 7px 5px #6c757d;
  color: #54392e;
}

.sign-in-form > input {
  border-radius: 3px;
  outline: none;
  border: 3px solid #54392e;
  padding: 5px;
}

.sign-in-form > label {
  color: rgb(244, 187, 68);
  font-size: 10px;
}
.sign-in-form > a {
  text-decoration: none;
  color: #54392e;
}
.sign-in-form > a:hover {
  color: rgb(150, 112, 73);
  text-decoration: underline;
}

.brown-button {
  margin: 10px;
  background-color: rgb(150, 112, 73);
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 3px;
  border: none;
  box-shadow: -5px 5px 5px #6c757d;
}
.brown-button:hover {
  opacity: 0.8;
}
