.projects-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.projects-container > a {
  text-decoration: none;
}
.add-project-button {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 60px;
  width: 90px;
  height: 90px;
  font-weight: bolder;
  color: #54392e;
  background-color: rgb(244, 187, 68);
  border-radius: 50%;
  margin-top: 20px;
}
