.nav-container {
  display: flex;
  box-sizing: border-box;
  flex-flow: row nowrap;
  height: 90px;
  border-bottom: 5px solid #00a8e8;
  margin: 10px;

  align-items: center;
  justify-content: space-between;
  width: 95vw;
}
.nav-container a {
  box-sizing: border-box;
  margin: 20px;
}
.nav-title {
  text-decoration: none;
  font-size: 50px;
  color: #003459;
  font-family: "Permanent Marker", cursive;
}
.nav-title:hover {
  opacity: 0.9;
}
.nav-logout {
  text-decoration: none;
  color: #003459;
  font-size: 25px;
}
.nav-logout:hover {
  background-color: #003459;
  border-radius: 5px;
  color: white;
  padding: 5px;
}
