.nav-container {
  display: flex;
  box-sizing: border-box;
  flex-flow: row nowrap;
  height: 90px;
  /* border-bottom: 5px solid #00a8e8; */
  margin: 10px;

  align-items: center;
  justify-content: space-between;
  width: 95vw;
}
.nav-container a {
  box-sizing: border-box;
  margin: 20px;
}
.nav-title {
  text-decoration: none;
  font-size: 50px;
  color: rgb(150, 112, 73);
  font-family: "Shadows Into Light", cursive;
}
.nav-title:hover {
  opacity: 0.9;
}
.right-links {
  text-decoration: none;
  color: #54392e;
  font-size: 25px;
  padding: 5px;
}
.right-links:hover {
  background-color: #54392e;
  border-radius: 5px;
  color: rgb(244, 187, 68);
}
@media only screen and (max-width: 768px) {
  .nav-title {
    font-size: 40px;
  }
  .right-links {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-title {
    font-size: 22px;
  }
  .right-links {
    font-size: 15px;
  }
}
